<%= form_with(model: bug_model, local: true) do |form| %>
  <% if bug_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bug_model.errors.count, "error") %> prohibited this bug_model from being saved:</h2>

      <ul>
        <% bug_model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :issue_type %>
    <%= form.select :issue_type, @issues.keys, selected: @bug_model.issue_type %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, @priorities.keys, selected: @bug_model.priority %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, @statuses.keys, selected: @bug_model.status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
