<!DOCTYPE html>
<html>
    <head>
        <title>Bug</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to "Bugs Galore", root_path, class:"p-2 text-dark" %></h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <%= link_to "Bugs", {controller: "bug_models", action: "index"}, class: "p-2 text-dark" %>
                <%= link_to "Users", {controller: "users", action: "index"}, class: "p-2 text-dark" %>
            </nav>
            <%= link_to "Sign up", {controller: "users", action: "new"}, class: "btn btn-outline-primary" %>
        </div>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
